*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.background{
  background: url("./image/background-color.png") center/cover no-repeat;
  height: 200px;
}

.dino{
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 0;
  background-color: navy;
}